<%= simple_form_for([lesson, session], remote: true) do |f| %>
<% if f.object.errors.any? %>
  <div id="error_explanation">
   <div class="alert alert-error">
     The form contains <%= pluralize(f.object.errors.count, "error") %>.
   </div>
  <ul>
   <% f.object.errors.full_messages.each do |msg| %>
    <li>* <%= msg %></li>
   <% end %>
 </ul>
</div>
<% end %>
  <%= f.text_field :starts_at, label:false, placeholder:"Schedule date and time", class:"text-center form-control" %>
  <%= f.text_field :maxnumber, label:false, placeholder:"Max number of students", class:"text-center form-control" %>
  <%= f.submit "Ok", class:"btn btn-success form-control" %>
<% end %>


<% content_for :after_js do %>
  <%= javascript_tag do %>
    $('#session_starts_at').datetimepicker({
  });
  <%end%>
<%end%>
