<%= simple_form_for([lesson, session], remote: true) do |f| %>
<% if f.object.errors.any? %>
  <div id="error_explanation">
   <div class="alert alert-error">
     The form contains <%= pluralize(f.object.errors.count, "error") %>.
   </div>
  <ul>
   <% f.object.errors.full_messages.each do |msg| %>
    <li>* <%= msg %></li>
   <% end %>
 </ul>
</div>
<% end %>
  <%= f.text_field :starts_at, label:false, placeholder:"Add a session", class:"text-center" %>
  <%= f.text_field :maxnumber, label:false, placeholder:"Max number of students", class:"text-center" %>
  <%= f.submit "Ok" %>
<% end %>


<div class='input-group date' id='datetimepicker1'>
    <input type='text' class="form-control" />
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
        </span>

</div>



<% content_for :after_js do %>
  <%= javascript_tag do %>
    $('#session_starts_at').datepicker({
    format: "yyyy/mm/dd",
    todayHighlight: true
  });
    $('#datetimepicker1').datetimepicker();
  <%end%>
<%end%>
