<h1>List of my offered sessions</h1>
<% @sessions.each do |session| %>
  <h2><%= session.starts_at %></h2>
  <p><%= session.lesson.name %></p>
  <p><%= session.lesson.location %></p>
  <p><%= session.lesson.description %></p>
  <p><%= session.lesson.address %></p>
  <p><%= session.lesson.yoga_category %></p>
  <p><%= session.lesson.picture1 %></p>
  <p><%= session.lesson.price %></p>
  <p><%= session.lesson.user_id %></p>
<% end %>

<%= link_to 'Back to my different lessons', user_lessons_path %>
