<h1>List of all sessions</h1>
<% @sessions.each do |session| %>
  <h2>Date: <%= session.starts_at %></h2>
  <p>Lesson: <%= session.lesson.name %></p>
  <p>Address: <%= session.lesson.address %></p>
  <p>My user_id: <%= session.lesson.user_id %></p>
  <%= link_to 'See the session', session_path(session) %>
<% end %>

