<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2 id="h2_session"><%= @session.lesson.name %> - <%= @session.lesson.yoga_category %></h2>
      <div id="owl-demo" class="">
        <% @session.lesson.photos.each do |photo| %>
        <div class="item" style="background-image: url(<%= cloudinary_url photo.path %>)">
        </div>
        <% end %>
      </div>
      <p><%= @session.lesson.description %></p>
    </div>
    <div class="col-xs-12 col-sm-6">
    <div id="booking">
     <h2 id="h2_session">Booking</h2>
      <% if @session.conf_status == false %>
          <p id="green"><%= @session.starts_at %> - <%= @session.lesson.price %>€</p>
          <p id="green">Availability: 1 seat available</p>
            <%= simple_form_for @session do |f| %>
            <%= f.input :conf_status, :as => :hidden, input_html: { value: true } %>
            <%= f.input :user_id, :as => :hidden, input_html: { value: current_user.id } %>
            <%= f.submit 'Book the class', class: 'btn btn-success space', style: "width: 57%"%>
            <% sessions = Session.all %>
            <% id_array = [] %>
            <% sessions.each do |session| %>
            <% id_array << session.id %>
            <% end %>
            <% id_sample = id_array.shuffle.sample %>
            <div class="list_block">
                <li><%= link_to('See another class', session_path(id: id_sample), class: 'btn btn-info space', style: "width: 100%")%></li>
                <li><%= link_to('Back to list of classes', root_path(:anchor =>"map"), class: 'btn btn-primary space', style: "width: 100%") %></li>
            </div>
            <% end %>
        <% else %>
        <% if current_user.id == @session.user_id %>
            <% user_reg = User.find(@session.user_id) %>
            <p>Person registered: <%= user_reg.first_name %> <%= user_reg.last_name %></p>
            <p id="green">Cool, you have successfully booked this class!</p>
          <% else %>
            <p id="red">Availability: 0 seat available, sorry, try another class!</p>
          <% end %>
            <%= simple_form_for @session do |f| %>
            <%= f.input :conf_status, :as => :hidden, input_html: { value: false } %>
            <%= f.input :user_id, :as => :hidden, input_html: { value: nil } %>
            <%= f.submit 'Unbook the class', class: 'btn btn-danger space', style: "width: 57%"%>
            <% sessions = Session.all %>
            <% id_array = [] %>
            <% sessions.each do |session| %>
            <% id_array << session.id %>
            <% end %>
            <% id_sample = id_array.shuffle.sample %>
            <div class="list_block">
              <li><%= link_to('See another class', session_path(id: id_sample), class: 'btn btn-info space', style: "width: 100%") %></li>
              <li><%= link_to('Back to list of classes', root_path(:anchor =>"map"), class: 'btn btn-primary space', style: "width: 100%") %></li>
            <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p><%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=535x225&sensor=false&maptype=roadmap&markers=color:red|#{@session.lesson.address}" %></p>
      <p><%= @session.lesson.address %></p>
    </div>
  </div>
</div>


<% content_for :after_js do %>
  <%=javascript_tag do %>
    $('#session_starts_at').datepicker({
    });
    $(document).ready(function() {

      $("#owl-demo").owlCarousel({

          navigation : false, // Show next and prev buttons
          navigationText : ["prev","next"],
          slideSpeed : 300,
          paginationSpeed : 400,
          ///singleItem:true

          // "singleItem:true" is a shortcut for:
          items : 2,
          // itemsDesktop : false,
          // itemsDesktopSmall : false,
          // itemsTablet: false,
          // itemsMobile : false

          baseClass : "owl-carousel",
          theme : "owl-theme",

          //Lazy load
    lazyLoad : false,
    lazyFollow : true,
    lazyEffect : "fade",

      });
    });

  <%end%>
<%end%>
