<div class="container">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <h2><%= @session.lesson.name %></h2>
      <p><% @session.lesson.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      <% end %></p>
      <p>Location: <%= @session.lesson.address %></p>
      <p>Description: <%= @session.lesson.description %></p>
      <p>Category: <%= @session.lesson.yoga_category %></p>
      <p>Date: <%= @session.starts_at %></p>
        <% if @session.conf_status == false %>
          <p id="green">Availability: 1 seat available</p>
            <%= simple_form_for @session do |f| %>
            <%= f.input :conf_status, :as => :hidden, input_html: { value: true } %>
            <%= f.input :user_id, :as => :hidden, input_html: { value: current_user.id } %>
            <%= f.submit 'Book the class', class: 'btn btn-success', style: "width: 90%"%>
            <% sessions = Session.all %>
            <% id_array = [] %>
            <% sessions.each do |session| %>
            <% id_array << session.id %>
            <% end %>
            <% id_sample = id_array.shuffle.sample %>
            <%= link_to('See another class', session_path(id: id_sample), class: 'btn btn-info', style: "width: 90%") %>



            <%= link_to('Back to list of classes', root_path, class: 'btn btn-primary', style: "width: 90%") %>
            <% end %>
        <% else %>
          <p id="red">Availability: 0 seat available, sorry, try another class!</p>
          <% user_reg = User.find(@session.user_id) %>
          <p>Person registered: <%= user_reg.first_name %> <%= user_reg.last_name %></p>
          <%= link_to('Back to list', root_path, class: 'btn btn-primary', style: "width: 90%") %>
            <%= simple_form_for @session do |f| %>
            <%= f.input :conf_status, :as => :hidden, input_html: { value: false } %>
            <%= f.input :user_id, :as => :hidden, input_html: { value: nil } %>
            <%= f.submit 'Unbook the class', class: 'btn btn-danger', style: "width: 90%"%>
            <% end %>
        <% end %>
    </div>
  </div>
</div>

