<div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(session.lesson.photos.first&.path, :width=>295, :height=>175, :crop => :fill, :gravity=>:face)%>);">
  <div class="card-category">Teacher - <%= session.lesson.user.first_name %></div>
  <div class="card-description">
    <h2><%= session.lesson.name %></h2>
    <p><%= session.lesson.price %> Euros</p>
    <p>Date - <%= session.starts_at %></p>
    <% if session.conf_status==false %>
      <p id="card-non-booked">Book now</p>
      <% else %>
      <p id="card-booked">Class full</p>
    <%end%>
  </div>
  <%= link_to "", session_path(session), :class => "card-link" %>
</div>
