<div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path session.lesson.photos.first&.path %>);">
  <div class="card-category"><%= session.lesson.name %></div>
  <div class="card-description">
    <h2><%= session.lesson.name %></h2>
    <p><%= session.lesson.price %></p>
    <p><%= session.conf_status %></p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div>
