<%= render "banner", session:@session %>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <% unless params[:where].nil? && params[:when].nil? %>
        <div class="row text-center" id="results">
          <h2>Become a master of Yoga</h2>
          <% unless params[:where] == ""%>
            <h4>Classes located near : <%= params[:where]%></h4>
          <% end %>
          <% unless params[:when] == ""%>
            <h4>on the <%= params[:when]%></h4>
          <% end %>
          <div class="small-padded"></div>
          <h4><a href="#banner" class="btn btn-primary">Back to search</a></h4>
          <div class="small-padded"></div>
        </div>
      <% end %>
      <div class="row">
        <div id="map" style="width: 100%; height: 300px;"></div>
        <div class="small-padded"></div>
      </div>
      <div class="row">
        <% @sessions.each do |session| %>
          <div class="col-xs-12 col-sm-4">
            <%= render "shared/card", session: session%>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>



  <% content_for(:after_js) do %>
  <%= javascript_tag do %>

  var myStyle = [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef "}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff "},{"color":"#c0e8e8 "}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd "}]}];

    $(document).on('ready', function() {
     var handler = Gmaps.build('Google');
     handler.buildMap({ internal: { id: 'map' }, provider: { styles: myStyle } }, function(){
       markers = handler.addMarkers(<%= raw @markers.to_json %>);
       console.log(markers);
       handler.bounds.extendWith(markers);
       handler.fitMapToBounds();
     });

     <!-- infowindow on mouseover -->
     google.maps.event.addListener(Marker, 'mouseover', function() {
     console.log('hello');
         infowindow.open(map, this);
     });

     // assuming you also want to hide the infowindow when user mouses-out
     google.maps.event.addListener(marker, 'mouseout', function() {
         infowindow.close();
     });
   });
  <% end %>

  <%=javascript_tag do %>
    $('#Date').datepicker({
    format: "yyyy/mm/dd",
    todayHighlight: true
  });
  <%end%>



<% end %>

