
<h1>Edit your class</h1>

  <%= simple_form_for(@lesson) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :price, collection: 1..100 %>
  <%= f.input :description %>
  <%= f.input :yoga_category, collection: ["Hatha", "Vinyasa", "Asthanga", "Jivamukti", "Iyengar", "Bikram", "Hot yoga", "Yin yoga", "Acroyoga"] %>
  <%= f.input :photos, as: :attachinary %>

<%= f.button :submit,'Update this class' %>

 <% end %>
