<%= render "shared/banner_small", text:"",text2:"", picture: 'http://www.findhealthtips.com/wp-content/uploads/2015/06/yoga-classes.jpg'%>

<div class="container">
  <div class="row">
    <div class="title">
    <h3><%= @lesson.name %><%= link_to ' <i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_lesson_path(@lesson), html_options={:class=>"small-icons"}%></h3>
    </div>
  </div>
  <div class="row">

    <div class="content col-xs-12 col-sm-8">
      <p class="category"><%= @lesson.yoga_category %></p>
      <p class="category"><%= @lesson.address %><%= link_to ' <i class="fa fa-street-view"></i>  View'.html_safe, edit_lesson_path(@lesson), html_options={:class=>"small-icons"}%></p>
    <div class="pictures">

      <% @lesson.photos.each do |photo| %>
        <div class="pic1 col-xs-4">
          <%= cl_image_tag photo.path, width: 230, height: 100,crop: :fill %>
        </div>
      <% end %>
    </div>
      <p><%= @lesson.description %></p>
    </div>
    <div class="session col-xs-12 col-sm-4">
      <h3>Dates available for booking</h3>
      <ul class="list-unstyled">
        <% @lesson.sessions.each do |session| %>
        <li> <h4><%=session.starts_at%>
        <%= link_to '<i class="fa fa-trash"></i>'.html_safe, session_path(session), html_options={:class=>"small-icons", method:"delete"}%></h4> </li>
        <%end%>
      </ul>
      <%= simple_form_for [@lesson, @session] do |f| %>
        <%= f.text_field :starts_at, label:false, placeholder:"Add a session", class:"text-center" %>
        <%= f.submit "Ok" %>
      <% end %>
    </div>
  </div>
  <div class="row">
  </div>
</div>

<% content_for :after_js do %>
  <%=javascript_tag do %>
    $('#session_starts_at').datepicker({
    });
  <%end%>
<%end%>

