<div class="container text-center padded">
  <h2>Log in</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%- if devise_mapping.omniauthable? %>
        <div class="small-padded">
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to "Log in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class:"btn btn-primary text-center" %><br />
          <% end -%>
          <h4 class="top-margin">Or log in with email</h4>
        <% end -%>
        <%= simple_form_for(resource, as: resource_name, url: user_session_path) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, label:false, placeholder:"email@example.com",required: false, autofocus: true, class:"form-control" %>
            <%= f.input :password, label:false, placeholder:"password", required: false, class:"form-control" %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Log in" %>
          </div>
        <% end %>
      </div>
      <div class="small-padded">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<div class="extra-padded"></div>



